.category-container {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.category-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.category-wrapper {
    margin-top: 3rem;
}

.category-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.category-wrapper li {
    width: 25%;
    list-style: none;
    margin-bottom: 2.5rem;
}

.text-wrapper {
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
}

.text-wrapper p {
    margin-bottom: 0.1rem;
}

.category-btn {
    padding: 0.2rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.category-index-btn {
    padding: 0.6rem 2.5rem;
    margin-bottom: 2rem;
}