.index-container {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.index-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.search-wrapper {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-right: 3.5rem;
}

.search-wrapper ul {
    display: flex;
}

.search-wrapper li {
    width: 20%;
    list-style: none;
}

.search-wrapper .search-word {
    width: 40%;
}

.condition-wrapper {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.condition-wrapper ul {
    display: flex;
}

.condition-wrapper li {
    list-style: none;
}

.input-text {
    margin-top: 0.3rem;
    margin-right: 1.2rem;
    margin-left: 33rem;
}

.university-condition {
    margin-right: 1rem;
}

.condition-wrapper p {
    font-size: 1.2rem;
}

.input-wrapper {
    margin-right: 1.2rem;
}

.index-wrapper ul {
    display: flex;
    /*flex-wrap: wrap;*/
}

.index-wrapper li {
    width: 25%;
    list-style: none;
    margin-bottom: 2.5rem;
}

.text-wrapper {
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
}

.text-wrapper p {
    margin-bottom: 0.1rem;
}

.index-btn {
    padding: 0.2rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
}