.index-container {
    text-align: center;
    margin-top: 5rem;
}

.index-title {
    font-size: 2rem;
    font-weight: bold;
}

.index-container ul {
    display: flex;
    flex-wrap: wrap;
}

.index-container li {
    width: 25%;
    list-style: none;
}

.text-wrapper {
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.text-wrapper p {
    margin-bottom: 0.4rem;
}

.index-btn {
    padding: 4px 20px;
    font-size: 1rem;
    cursor: pointer;
}