.message-container {
    margin-top: 6rem;
}

.message-wrapper {
    margin-bottom: 10rem;
}

.message-container ul {
    display: flex;
}

.message-container li {
    list-style: none;
}

.message-container .message {
    margin-right: 1.4rem;
    margin-left: 25rem;
}