.note {
    margin: 150px auto 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.error-wrapper {
    text-align: left;
    margin: 0 auto;
    width: 70%;
}

.error-wrapper li {
    list-style: none;
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.review-wrapper {
    margin: 10px auto 0;
    width: 70%;
}

.btn-wrapper {
    text-align: center;
    margin-top: 40px;
}

.btn-wrapper .btn-outline-info:hover {
    color: #fff;
    background-color: #6cb2eb;
    border-color: #6cb2eb;
}

.review-wrapper textarea {
    height: 200px;
}

@media screen and (max-width: 479px) {
    .nav-item .btn {
        padding: 2px 25px;
    }
    
    .note {
        font-size: 12px;
    }
    
    .review-wrapper {
        width: 85%;
    }
    
    .review-wrapper textarea {
        height: 150px;
    }
    
    
}