.message-container {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.message-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.message-wrapper {
    width: 65%;
    margin: 30px auto 0;
}

.message-wrapper .name {
    color: black;
}

.message-wrapper ul {
    margin: auto;
}

.message-wrapper li {
    font-size: 1.2rem;
}

.message-wrapper .profile {
    color: black;
}

.message-btn {
    margin-left: 10rem;
}

.list-group-item {
    text-align: center;
}