.mylist-container {
    margin-top: 90px;
    font-family: 'Fredoka', sans-serif;
}

.mylist-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.mylist-wrapper {
    width: 80%;
    margin: 0 auto;
}

.mylist-wrapper ul {
    margin: auto;
}

.mylist-wrapper .list-group-item p {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px 0 0;
}

.mylist-wrapper .list-group-item form {
    display: inline-block;
}

.mylist-wrapper li .delete-btn {
    font-size: 12px;
}

.list-group-item {
    text-align: center;
}

.btn-wrapper {
    text-align: center;
    margin-top: 40px;
}

.btn-wrapper .mylist-btn {
    padding: 10px 40px;
    border-radius: 20px;
}

@media screen and (max-width: 470px) {
    .nav-item .btn {
        padding: 2px 25px;
    }
    
    .mylist-title {
        font-size: 40px;
    }
    
    .mylist-wrapper {
        width: 90%;
    }
    
    .mylist-wrapper .list-group-item a {
        font-size: 12px;
    }
    
    .mylist-wrapper .list-group-item p {
        font-size: 12px;
    }
    
    .mylist-wrapper .list-group-item  .delete-btn {
        margin: 0;
        padding: 3px 6px;
        font-size: 6px;
    }
    
    .btn-wrapper .mylist-btn {
        font-size: 12px;
        padding: 6px 26px;
        border-radius: 15px;
    }
}