.mylist-container {
    margin-top: 90px;
    font-family: 'Fredoka', sans-serif;
}

.mylist-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.mylist-wrapper {
    width: 80%;
    margin: 0 auto;
}

.mylist-wrapper ul {
    margin: auto;
    justify-content: space-between;
}

.mylist-wrapper .list-group-item p {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px 0 0;
}

.mylist-wrapper li .delete-btn {
    font-size: 12px;
}

.btn-wrapper {
    text-align: center;
    margin-top: 40px;
}

.btn-wrapper .mylist-btn {
    padding: 10px 20px;
}