.post-container {
    margin-top: 90px;
    font-family: 'Fredoka', sans-serif;
}

.post-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.error-wrapper {
    text-align: left;
    width: 45%;
    margin: 0 auto;
}

.error-wrapper li {
    list-style: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.post-wrapper {
    margin: 10px auto 30px;
    width: 45%;
}

.post-wrapper dt {
    font-size: 18px;
    margin-bottom: 5px;
}

.btn-wrapper {
    text-align: center;
}

.post-btn {
    padding: 7px 20px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 479px) {
    .nav-item .btn {
        padding: 2px 25px;
    }
    
    .post-title {
        font-size: 40px;
    }
    
    .post-wrapper {
        width: 80%;
    }
    
    .post-wrapper dl {
        margin-bottom: 22px;
    }
    
    .post-wrapper dt {
        font-size: 14px;
        margin-bottom: 8px;
    }
}