.profile-container {
    margin-top: 5rem;
    font-family: 'Fredoka', sans-serif;
}

.profile-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
}

.profile-wrapper {
    margin: 40px auto 30px;
    width: 70%;
}

.profile-wrapper ul {
    display: flex;
}

.profile-wrapper li {
    list-style: none;
}

.profile-wrapper .profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10rem;
}

.profile-wrapper dt {
    font-size: 1.5rem;
}

.profile-wrapper dd {
    font-size: 1.2rem;
}

.text-wrapper {
    margin-top: 0.7rem;
}

.btn-wrapper {
    text-align: center;
}

.edit-btn {
    padding: 7px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.show-textbooks {
    margin-top: 1.5rem;
    text-align: right;
    width: 95%;
}

.show-textbooks a {
    margin-right: 0.7rem;
    cursor: pointer;
}