.detail-container {
    text-align: center;
    margin-top: 90px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.detail-title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
}

.detail-wrapper {
    margin-top: 100px;
    width: 90%;
}

.detail-wrapper ul {
    display: flex;
    justify-content: space-around;
}

.detail-wrapper li {
    list-style: none;
}

.detail-wrapper .image {
    width: 50%;
}

.detail-wrapper .image img {
    width: 480px;
    height: 480px;
}

.detail-text {
    text-align: left;
}

.detail-text p {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 1px;
    font-weight: bold;
}

.detail-text .large {
    font-size: 40px;
    border-bottom: 1px solid;
    border-color: rgba(196,196,196,1);
}

.detail-text .underline {
    font-size: 18px;
    border-bottom: 1px solid;
    border-color: rgba(196,196,196,1);
}

.detail-text .review-title {
    font-size: 18px;
}

.detail-text .review-content {
    font-size: 27px;
}

@media screen and (max-width: 479px) {
    .nav-item .btn {
        padding: 2px 25px;
    }
    
    .detail-wrapper {
        margin:90px auto 0;
    }
    
    .detail-wrapper ul {
        display: block;
        padding: 0;
    }
    
    .detail-wrapper .image img {
        width: 300px;
        height: 300px;
    }
    
    .detail-text {
        margin-top: 40px;
    }
    
    .detail-text .large {
        font-size: 24px;
    }
    
    .detail-text .underline {
        font-size: 14px;
    }
}