.profile-container {
    margin-top: 5rem;
    font-family: 'Fredoka', sans-serif;
}

.profile-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
}

.profile-wrapper {
    margin: 40px auto 30px;
    width: 45%;
}

.profile-wrapper dt {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.btn-wrapper {
    text-align: center;
}

.edit-btn {
    padding: 7px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.show-textbooks {
    margin-top: 35px;
    text-align: right;
    width: 95%;
}

.show-textbooks a {
    margin-right: 10px;
    cursor: pointer;
}