.detail-container {
    text-align: center;
    margin-top: 90px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.detail-title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
}

.detail-wrapper {
    margin-top: 100px;
    width: 100%;
}

.detail-wrapper ul {
    display: flex;
    justify-content: space-around;
}

.detail-wrapper li {
    list-style: none;
    width: 57%;
}

.detail-wrapper .image {
    width: 40%;
}

.detail-wrapper .image img {
    width: 400px;
    height: 400px;
}

.detail-text {
    text-align: left;
}

.detail-text p {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 1px;
    font-weight: bold;
}

.detail-text .large {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    border-bottom: 1px solid;
    border-color: rgba(196,196,196,1);
}

.detail-text .underline {
    font-size: 16px;
    border-bottom: 1px solid;
    border-color: rgba(196,196,196,1);
}

.detail-text .review-title {
    font-size: 16px;
}

.detail-text .review-content {
    padding: 8px;
    font-size: 18px;
}

.detail-btn {
    margin-top: 25px;
    padding: 5px 50px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}

.profile-btn {
    margin-top: 30px;
    padding: 7px 40px;
    border-radius: 20px;
}

@media screen and (max-width: 479px) {
    .nav-item .btn {
        padding: 2px 25px;
    }
    
    .detail-wrapper {
        margin:90px auto 0;
    }
    
    .detail-wrapper ul {
        display: block;
        padding: 0;
    }
    
    .detail-wrapper li {
        width: 100%;
    }
    
    .detail-wrapper .image img {
        width: 300px;
        height: 300px;
    }
    
    .detail-text {
        margin-top: 40px;
    }
    
    .detail-text .large {
        font-size: 24px;
    }
    
    .detail-text .underline {
        font-size: 14px;
    }
}