.mainvisual {
    background: url(../img/mainpage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Fredoka', sans-serif;
}

.title-wrapper {
    padding-top: 230px;
    text-align: center;
    color: rgba(255,255,255,0.8);
}

.title-wrapper p {
    font-size: 18px;
    letter-spacing: 2px;
}

.main-title {
    font-size: 65px;
    margin-bottom: 10px;
}

.about-wrapper {
    padding-top: 70px;
    text-align: center;
    margin: 0 auto;
    width: 62%;
}

.about-wrapper p {
    font-size: 22px;
    line-height: 2.5;
    margin-bottom: 60px;
    font-family: 'Noto Sans JP', sans-serif;
}

.about-title {
     font-family:'Fredoka', sans-serif;
     font-size: 50px;
     margin-bottom: 45px;
     font-weight: bold;
}

.text-wrapper {
    text-align: left;
}

.about-btn {
    padding: 10px 18px;
    margin-bottom: 40px;
    font-size: 18px;
    letter-spacing: 2px;
}

@media screen and (max-width: 479px) {
    .nav-item .btn {
        padding: 2px 25px;
    }
    
    .title-wrapper {
        padding-top: 290px;
    }
    
    .about-wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
        width: 80%;
    }
    
    .about-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .about-wrapper p {
        font-size: 15px;
        line-height: 2;
    }
    
    .about-btn {
        padding: 5px 15px;
        margin-bottom: 40px;
        font-size: 12px;
        letter-spacing: 2px;
    }
}
